{% extends "allauth/layouts/base.html" %}
{% block head_title %}Resend confirmation email{% endblock %}
{% block content %}
<h1>Resend confirmation email</h1>
<p>Didn't get the verification link, or it expired? Enter the email you signed up with and we'll send a new one.</p>
<form method="post">
  {% csrf_token %}
  <p>{{ form.email.label_tag }}{{ form.email }}{{ form.email.errors }}</p>
  <button type="submit" class="btn btn-primary btn-block">Send confirmation link</button>
</form>
{% endblock content %}
