{% extends "account/email/_base_email.html" %}
{% block heading %}Reset your password{% endblock %}
{% block body_html %}
<p style="margin:0 0 12px;">Someone (hopefully you) asked to reset the password on this account.</p>
<p style="margin:0;">If that wasn't you, no action is needed, your password stays exactly as it is. Otherwise, pick a new one below.</p>
{% endblock %}
{% block cta_block %}
{% with cta_url=password_reset_url cta_label="Reset my password" %}
{{ block.super }}
{% endwith %}
{% if username %}
<tr>
  <td style="padding:0 32px 24px;">
    <p style="margin:0;font-size:12.5px;color:#8b93a7;">In case you forgot, your username is {{ username }}.</p>
  </td>
</tr>
{% endif %}
{% endblock %}
