{% extends "admin/base_site.html" %}

{% block content %}
<p>You're about to email <strong>{{ recipients|length }}</strong> recipient(s):</p>
<ul>
  {% for email in recipients %}<li>{{ email }}</li>{% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
  {% endfor %}
  <input type="hidden" name="action" value="broadcast_email">
  <input type="submit" name="apply" value="Send emails" class="default">
  <a href="." style="margin-left:1em;">Cancel</a>
</form>
{% endblock %}
